* {
    box-sizing: border-box;
}

body {
    color: #322f37;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.hidden {
    display: none;
}

.layout {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .layout {
        width: 576px;
    }
}

@media (min-width: 768px) {
    .layout {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .layout {
        width: 992px;
    }
}

/* Header with search form */
header {
    padding: 20px;
}

.form-control {
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    padding: 4px 8px;
    vertical-align: middle;
}

.form-field {
    border: 1px solid #cecece;
    color: #495057;
    transition: border-color .15s, box-shadow .15s;
}

.form-field:hover,
.form-field:focus {
    border: 1px solid rgba(100, 65, 164, .5);
    box-shadow: 0 0 0 3px rgba(100, 65, 164, .25);
}

.form-button {
    background-color: #6441a4;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.form-button:hover,
.form-button:focus {
    background: #7d5bbe;
    border-color: #7d5bbe;
}

.form-button:active {
    background: #6441a4;
    border-color: #7d5bbe;
}

.form-error {
    color: #dd2929;
}

/* Content area */
.content {
    border-top: 1px solid #f0f0f0;
}

.content-loader {
    background-image: url('../images/ajax-loader.gif');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0 auto 20px;
    width: 16px;
}

.content-message {
    margin: 0;
    padding: 0 20px 20px;
}

nav {
    color: #6e6779;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.total {
    line-height: 2;
}

/* Pagination */
.pagination {
    display: flex;
    margin: -1px 0 0;
}

.pagination-item {
    display: block;
    padding: 4px 8px;
    margin: 0 0 0 -1px;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination-item:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination button {
    background-color: transparent;
    color: #6441a4;
    cursor: pointer;
    outline: none;
    transition: color .15s, border-color .15s, background-color .15s;
}

.pagination button:hover,
.pagination button:focus {
    background-color: #6441a4;
    border: 1px solid #6441a4;
    color: #fff;
}

.pagination button:disabled,
.pagination button:disabled:hover,
.pagination button:disabled:focus {
    background-color: transparent;
    border: 1px solid #dee2e6;
    color: #ccc;
    cursor: not-allowed;
}

/* Stream list */
.stream-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stream {
    display: block;
    margin: 0;
    padding: 0;
}

.stream-link {
    color: #322f37;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 120px 20px 15px 20px;
    text-decoration: none;
    transition: background-color .15s;
}

@media (min-width: 576px) {
    .stream-link {
        padding: 15px 20px 15px 200px;
    }
}

.stream-link:hover,
.stream-link:focus {
    background-color: rgba(100, 65, 164, .1);
}

.stream-thumb {
    float: left;
    height: 90px;
    margin: -105px 0 0 0;
    width: 160px;
}

@media (min-width: 576px) {
    .stream-thumb {
        margin: 0 0 0 -180px;
    }
}

.stream-title {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 5px;
    padding: 0;
}

.stream-text {
    color: #6e6779;
    margin: 0;
    padding: 0;
}
